/* Reset CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/*header*/
.header {
  background-color: #9baec2;
  z-index: 10;
  height: 90px;
  position: fixed;
  width: 100%;
}

.header-logo {
  padding: 20px 20px;
  float: left;
}

.header-logo img {
  width: 150px;
}

.header-list {
  float: right;
  padding: 0 20px;
  font-size: 15px;
}

.header-list a {
  line-height: 90px;
  padding: 0 25px;
  color: white;
  float: left;
  margin-right: 1px;
  background-color: #9baec2;
  transition: all 0.5s;
  display: inline-block
}

.header-list a:hover {
  background-color: #6182a5;
}

/* Bagian home-destinasi*/
a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.heading h2 {
  font-weight: bold;
  font-size: 30px;
  color: #142b4f;
}

.heading p {
  font-size: 19px;
  color: #b3aeb5;
  width: 50%;
  margin: 15px auto 0;
}

.heading p span {
  color: #142b4f;
  font-weight: bold;
  opacity: .7;
}

.home-destinasi {
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  /* background-color: #f7f7f7; */
  text-align: center;
}

.card-destinasi {
  position: relative;
}

.card-destinasi p {
  position: absolute;
  top: 80%;
  width: 100%;
  color: white;
  font-weight: bold;
}

.btn img {
  width: 250px;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btn-selengkapnya {
  background-color: #142b4f;
  padding: 12px 24px;
  margin-top: 25px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
}

.btn img:hover {
  position: relative;
  opacity: 1;
  top: -3px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
}

.btn-selengkapnya:hover {
  position: relative;
  opacity: 1;
  top: -3px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
}

.btn-selengkapnya:active {
  box-shadow: none;
}

/* Bagian home-kegiatan*/
.card {
  float: left;
  width: 25%;
  padding: 10px 0;
}

.home-kegiatan {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.kegiatan {
  float: left;
  width: 25%;
}

.image-kegiatan {
  position: relative;
}

.kegiatan {
  box-sizing: border-box;
  padding: 0 15px;
  float: left;
  width: 25%;

}

.card-kegiatan {
  display: block;
  height: 550px;
  background-color: #fff;
  opacity: 0.8;
}

.card-kegiatan:hover {
  opacity: 1;
}

.image-kegiatan img {
  position: relative;
  height: 180px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.image-kegiatan p {
  padding: 5px;
  font-weight: bold;
  font-size: 22px;
  color: #3b3a3a;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  color: #b3aeb5;
}

/* panduan */
.box {
  margin: 10px 150px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box .item {
  flex-basis: 20%;
  margin-bottom: 30px;
  text-align: center;
  margin-right: 15px;
  padding: 15px;
  width: 100%;

}

.item .icon {
  background-color: #142b4f;
  width: 60px;
  height: 60px;
  line-height: 65px;
  border-radius: 50%;
  margin: 0 auto 10px;
  cursor: pointer;
}

.item .icon .fas {
  color: white;
  font-size: 25px;
}

.item .icon:hover {
  position: relative;
  top: -3px;
  box-shadow: 0 3px 3px rgba(20, 43, 79, .3);
}

.item p {
  color: #3b3a3a;
  font-weight: bold;
}

/* langganan */
.langganan {
  margin: 80px 25px;
}

.box-langganan {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.box-langganan::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-image: url('https://www.indonesia.travel/content/dam/indtravelrevamp/home-revamp/suscribebanner.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  transition: all .3s;
}

.box-langganan:hover::before {
  transform: scale(1.1);
}

.box-langganan .content {
  margin-left: 30%;
  padding: 25px;
}

.box-langganan .content h3 {
  color: white;
  text-align: left;
  letter-spacing: .95px;
  font-weight: bold;
  font-size: 2.2rem;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.box-langganan .content .row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.box-langganan .content input {
  flex-basis: 70%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
}

.box-langganan .content input::placeholder {
  color: #b3aeb5;
}

.box-langganan .content .btn-subscribe {
  flex-basis: 25%;
  background-color: #142b4f;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .95px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #507196;
  width: 100%;

}

.footer-logo img {
  height: 100px;
  float: left;
  padding: 20px 20px;
}

.footer-list {
  float: right;
  padding-top: 10px;
  text-align: right;

}

.footer-list a {
  font-family: Poppins;
  font-size: 14px;
  color: #ffffff;
}



.contents {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 195px 0 47px;
  background-image: url(https://th.bing.com/th/id/R.9cccb35e60d5dd027633d35f3102e1fc?rik=WCDtQ9Tvdkyt6w&riu=http%3a%2f%2fwww.100hdwallpapers.com%2fwallpapers%2f2048x1403%2fbeautiful_sunset_in_kiel-other.jpg&ehk=ZxgdlCqHedk7FVB8eaP9aiLE7TZ4UUUzfPiGybEG7rE%3d&risl=&pid=ImgRaw&r=0.png);
  background-size: cover;
  color: white;
  text-align: center;
  width: 100%;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 50px;
  letter-spacing: 3px;
  margin-bottom: 100px;
}

.top-wrapper li {
  opacity: 1.0;
  float: left;
  color: white;
  padding: 5px 25px;
  margin: 0 87px;
  list-style: none;
  cursor: pointer;
}

li:hover {
  opacity: 0.5;
  color: darkgray;
}

.main {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}



.main-contents {
  float: left;
  width: 25%;
  text-align: center;
}

.main-contents:hover .image {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, .3);
}

.image {
  height: 345px;
  width: 90%;
  flex-wrap: wrap;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}


.main-contents p:last-child {
  color: #142b4f;
  font-size: 20px;
  font-weight: 400;
}