/* Reset CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header*/
.header{
  background-color: #9baec2;
  z-index:10px;
  height:90px;
}
.header-logo{
  padding: 20px 20px;
  float:left;
}

.header-logo img{
  width: 150px;
}

.header-list{
  float:right;
  padding: 0 20px;
  font-size: 15px;
}

.header-list a {
  line-height: 90px;
  padding: 0 25px;
  color: white;
  float:left;
  margin-right:1px;
  background-color: #9baec2;
  transition:all 0.5s;
  display:inline-block
}
.header-list a:hover{
  background-color: #6182a5;
}
/* Bagian home-destinasi*/
a {
    text-decoration: none;
}
.clear {
    clear: left;
}
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.heading {
    padding-top: 50px;
    padding-bottom: 30px;
}
.heading h2 {
    font-weight: bold;
}

.home-destinasi {
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.card-destinasi {
    position: relative;
}
.card-destinasi p {
    position: absolute;
    top: 80%;
    width: 100%;
    color: white;
    font-weight: bold;
}

.btn img {
    width: 250px;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btn-selengkapnya {
    background-color: #142b4f;
    padding: 12px 24px;
    margin-top: 25px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
}

.btn img:hover {
    position: relative;
    opacity: 1;
    top: -3px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.2) ;
}

.btn-selengkapnya:hover {
    position: relative;
    opacity: 1;
    top: -3px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.2) ;
}

.btn-selengkapnya:active {
    box-shadow: none;
}

/* Bagian home-kegiatan*/
.card {
    float: left;
    width: 25%;
    padding: 10px 0;
}
.home-kegiatan {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}
.kegiatan {
    float: left;
    width: 25%;
}
.image-kegiatan {
    position: relative;
}
.kegiatan {
    box-sizing: border-box;
    padding: 0 15px;
    float: left;
    width: 25%;
    
}
.card-kegiatan {
    display: block;
    height: 550px;
    background-color: #fff;
    opacity: 0.8;
}
.card-kegiatan:hover {
    opacity: 1;
}
.image-kegiatan img{
    position: relative;
    height: 180px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.image-kegiatan p {
    padding: 5px;
    font-weight: bold;
    font-size: 22px;
    color: rgb(59, 58, 58);
}
.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    color: #b3aeb5;
}

/* pertanyaan */
.pertanyaan {}

.footer-logo img {
  height: 70px;
  float: left;
  padding: 20px 20px;
}
.footer-list a {
  font-family: Poppins;
  font-size: 14px;
  color: #212529;
  background-color: #FF0000;
  text-align: center;
}
.footer-list span {
  float: right;
}
